/* Pc */

@media (min-width: 1024px){
    #heading .heading__logo{
        flex-basis: 5%;
    }
    #heading .heading__sub-menu{
        display: none;
    }
    #heading .heading__nav{
        flex-basis: 90%;
    }
}
/* Tablet */

@media (min-width: 768px) and (max-width: 1100px){
    #heading .heading__logo{
        flex-basis: 5%;
    }
    #heading .heading__sub-menu{
        display: none;
    }
    #heading .heading__nav{
        flex-basis: 90%;
}
    #infomation{
        height: 2000px;
    }
    .list-place{
        padding-top: 930px;
    }
}

/* Smartphone */

@media (max-width: 767px){ 
    .heading__nav .nav__nav-bar,
    .heading__nav .nav__log-in
    {
        display: none;
    }
    #heading .heading__nav{
        justify-content: flex-end;
        margin-right: 8px;
    }
    #infomation{
        height: 2000px;
    } 
    .list-place{
        padding-top: 930px;
    }

}
@media (min-width: 631px){
   .who-list--box{
        display: none;
    } 
}

@media (max-width: 630px){
    #infomation{
        height: auto;
    }
    .info-place .info-place__where,
    .info-place .info-place__when{
        display: none;
    }
    .info-place .info-place__who{
        flex-basis: 100%;
        max-height: none;
    }
    .info-place .who__who-list{
        margin-left: 0;
        left: 0;
    }
    .who__who-list .who-list__img{
        width: 100%;
        height: auto;
    }   
    .who__who-list .who-list--heading{
        font-size: 46px;
        width: 100%;
        transform: translateY(20px);
    }
    .who__who-list .who-list--subheading{
        font-size: 20px;
        width: 100%;
        transform: translateY(85px);
    }
    /* content */
    .content__img .img--right img {
        transform: translate(0px, -5px)
    }
    .content__img .img--left img{
        transform: translate(-10px, 30px);
    }
}
